GEMINI_API_KEY=AIzaSyBIetrn_l_FEMI4nAFQhRYC46HnXuuBmxY
GEMINI_MODEL=gemini-2.0-flash
ELEVENLABS_API_KEY=sk_0807fe9c1687cae4cb38b7cbe9082737d73350c8de2c182c
ELEVENLABS_VOICE_ID=cgLpYGyXZhkyalKZ0xeZ
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
DEEPGRAM_API_KEY=5bed803e003e9f435f67f7a3a880c7013fc7ba66
DEEPGRAM_MODEL=nova-2
